<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>ProvSchema LTG EE</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://script.google.com/macros/s/AKfycbwWxKMY1AeiCGjF_vMdxg8Scv8V-_kTJ-v827BL1LshjyhxxDc/exec?klass=EE20C"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest-ee20c.json">
<meta name="msapplication-TileColor" content="#871262">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#871262">
</head>
<body style="background-color:#871262">
<div id="prov" class="container">
  <h1 class="text-light">ProvSchema EE20C</h1>
  <div class="input-group mb-3">
    <input type="text" id="link" class="form-control form-control-sm" value="https://script.google.com/a/educ.goteborg.se/macros/s/AKfycbwmVvNjP3ITVrN6i1dSbCoMmM3-JUnWrafi9l6ZH-c/dev?format=ics&amp;klass=EE20D">
    <div class="input-group-append">
      <button type="button" class="btn btn-sm btn-secondary">Kopiera kallender-länk</button>
    </div>
  </div>
  <table class="table table-sm">
    <tbody>
      <tr v-for="info in infodata" v-if="new Date(info.datum) > yesterday" v-bind:class="{ 'table-primary': isEven(info.vecka) , 'table-secondary': !isEven(info.vecka)}" class=""> 
        <td><b>V.{{ info.vecka }}</b></td>
        <td><b>{{ dagar[info.dag] }}</b><br><span class="font-weight-light" style="font-size: 80%;">{{ info.datum }}</span></td>
        <td>{{ info.prov }}<br>
        {{ info.mentor }}<br>
        {{ info.rektor }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
<script>
var d = new Date();
d.setDate(d.getDate() - 1);
var cleanlist = new Vue({
  el: '#prov',
  methods: {
    isEven: function(n){
      return n % 2 == 0;
    }
  },
  data: {
    yesterday: d,
    dagar: ["Söndag","Måndag","Tisdag","Onsdag","Torsdag","Fredag","Lördag"],
    infodata: window.infodata
  }
})
</script>
</html>
