<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>ProvSchema LTG EE</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://script.google.com/macros/s/AKfycbwWxKMY1AeiCGjF_vMdxg8Scv8V-_kTJ-v827BL1LshjyhxxDc/exec?klass=EE20A"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="prov" class="container">
  <h1>ProvSchema EE20A</h1>
  <table class="table table-sm">
    <tbody>
      <tr v-for="info in infodata" v-if="new Date(info.datum) > yesterday" v-bind:class="{ 'table-primary': isEven(info.vecka) , 'table-secondary': !isEven(info.vecka)}" class=""> 
        <td><b>Vecka {{ info.vecka }}</b></td>
        <td><b>{{ dagar[info.dag] }}</b><br>{{ info.datum }}</td>
        <td>{{ info.prov }}<br>
        {{ info.mentor }}<br>
        {{ info.rektor }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
<script>
var d = new Date();
d.setDate(d.getDate() - 1);
var cleanlist = new Vue({
  el: '#prov',
  methods: {
    isEven: function(n){
      return n % 2 == 0;
    }
  },
  data: {
    yesterday: d,
    dagar: ["Söndag","Måndag","Tisdag","Onsdag","Torsdag","Fredag","Lördag"],
    infodata: window.infodata
  }
})
</script>
</html>
